<div class="container">
	<h2>Goal Board</h2>
	
	<!-- form to add a new task -->
			<!-- ng-submit binds a function to the form submission
					 if no action attribute is present (like here), this also prevents the default action -->
	<form role="form" ng-submit="addGoal()" class="spaced">
		<div class="row">
			<!-- .input-group allows for inline buttons on input boxes -->
			<div class="input-group">
				<input type="text" ng-model="goal" placeholder="add a goal" class="form-control" />
				<!-- .input-group-btn binds this btn to the input group in this div -->
				<span class="input-group-btn">
					<input type="submit" class="btn btn-primary" value="add" />
				</span>
			</div>
		</div>
	</form>
	
	<!-- list of current goals -->
	<div ng-model="goals" ui-sortable>
		<p class="input-group" ng-repeat="goal in goals" style="padding: 5px 10px;">
			<span class="input-group-addon" style="cursor: move;"><i class="glyphicon glyphicon-sort"></i></span>
            <input type="text" ng-model="goal.name" class="form-control" />
            <span class="input-group-addon addon-sm" ng-click="subtractPomo($index)" style="cursor: pointer;">-</span>
            <span class="input-group-addon">{{ goal.pomos }}</span>
            <span class="input-group-addon addon-sm" ng-click="addPomo($index)"  style="cursor: pointer;">+</span>
			<span class="input-group-btn">
				<button class="btn btn-success" ng-click="completeGoal($index)" aria-label="Remove"><i class="glyphicon glyphicon-ok"></i></button>
				<button class="btn btn-danger" ng-click="removeGoal($index)" aria-label="Remove"><i class="glyphicon glyphicon-remove"></i></button>
			</span>
        </p>
	</div>
    
    <div class="footer">
      <div class="container">
        <p class="text-left">one who moves mountains...</p>
      </div>
      <hr />
      <div class="container">
          <h5>Instructions</h5>
          <ul>
            <li>Add goals to your goal board with the text box up top.</li>
            <li>For every <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="_blank">pomodoro</a> round (25-35 minutes of work) you spend attempting a goal, add one to the counter.</li>
            <ul><li>You've only got yourself to stop you from cheating.</li></ul>
            <li>When you have finished your goal, click the green button to send that goal to your completions page.</li>
            <ul><li>(If you make a mistake, remove a goal by clicking the red button - it won't be completed.)</li></ul>
            <li>Rack up points by completing goals. See your completed goals on the completions page.</li>
            <li>Go to the rewards page to spend your points on rewards.</li>
        </ul>
      </div>
    </div>
    
</div>
