<div class="container">
	<h2>My Todos</h2>
	
	<!-- form to add a new task -->
			<!-- ng-submit binds a function to the form submission
					 if no action attribute is present (like here), this also prevents the default action -->
	<form role="form" ng-submit="addTodo()">
		<div class="row">
			<!-- .input-group allows for inline buttons on input boxes -->
			<div class="input-group">
				<input type="text" ng-model="todo" placeholder="Add a task..." class="form-control" />
				<!-- .input-group-btn binds this btn to the input group in this div -->
				<span class="input-group-btn">
					<input type="submit" class="btn btn-primary" value="add" />
				</span>
			</div>
		</div>
	</form>
	
	<!-- list of current todos -->
	<div ng-model="todos" ui-sortable>
		<p class="input-group" ng-repeat="todo in todos" style="padding: 5px 10px; cursor: move;">
			<input type="text" ng-model="todo" class="form-control" />
			<span class="input-group-btn">
				<!-- $index passes in the index of the current ng-repeat element -->
				<button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
			</span>
		</p>
	</div>
</div>
